<div class="contanair">
    <div class="side-bar">
        <form name="f">
            <div class="spe" style="margin-top: 50px;">
                <label for="titre">Titer du profile</label>
                <input type="text" id="titre" name="spe"> <br>
            </div>
            <div class="lange">
            <div class="output">

            </div>
            <div class="input">
                    <label for="lange">label du langue</label>
                    <input type="text" id="lange" name="lange"> <br>
                    <label for="nv">Niveau min sur 10</label>
                    <input type="number" id="nv" name="nv"> <br>
            </div>
            </div>
            <div class="compe">
                <div class="output">

                </div>
                <div class="input">
                    <label for="lange">label du computance</label>
                    <input type="text" id="lange" name="lange"><br>
                    <label for="nv">Niveau min sur 10</label>
                    <input type="number" id="nv" name="nv"><br>
                </div>
            </div>
            <div class="anne-exp">
                <label for="nb">Nomber des annees minimale d'experience</label>
                <input type="text" id="nb" name="a">
            </div>
            <input type="button" value="Rechercher" style="width: 78%;">
        </form>
    </div>
    <div class="contenu">

    </div>
</div>
