<div class="dashbord">
    <div class="element" style="background: linear-gradient(rgb(63, 142, 212),rgb(29, 81, 159));" >
        <div >
            <i class="bi bi-card-checklist"></i>
        </div>
        <div class="body">
            <h3>cv</h3>
            <p>{{nbcv}}</p>
        </div>
    </div>
    <div class="element" style="background: linear-gradient(rgb(162, 63, 212),rgb(124, 29, 159));">
        <div >
            <i class="bi bi-award-fill"></i>
        </div>
        <div class="body">
            <h3>specialite</h3>
            <p>{{nbspe}}</p>
        </div>
    </div>
    <div class="element" style="background: linear-gradient(rgb(212, 63, 162),rgb(159, 29, 124));" >
        <div >
            <i class="bi bi-people-fill"></i>
        </div>
        <div class="body">
            <h3>user</h3>
            <p>{{nbuser}}</p>
        </div>
    </div>
</div>
